<app-header titulo = "Prevención de la violencia"></app-header>

<ion-content class="ion-text-center ion-padding" >
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" class="ion-text-justify">
                <p>El violentometro es una herramienta para medir y visualizar los diferentes niveles de violencia en las relaciones 
                interpersonales, especialmente en relaciones de pareja. Su propósito es ayudar a las personas a identificar 
                comportamientos violentos que a menudo son normalizados o minimizados, y a tomar conciencia de la gravedad de ciertas 
                acciones que pueden escalar en agresiones más graves.</p>
            </ion-col>
            <ion-col size="12">
                <img src="assets/Paso5.png" alt="">
            </ion-col>
            <ion-col size="12">
                <ion-button expand="in-block" shape="round" color="secondary" (click)="abrirTest()">
                    <ion-label color="light">Realizar test</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>