<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">BIENVENIDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-padding  ion-text-justify">
    <ion-label >Esta aplicación está diseñada para brindar información útil acerca del autocuidado y la violencia de género 
      que pueda ayudar a reducir este fenómeno.</ion-label>
      <h3 class="ion-text-center"><strong>¿Qué puedes encontrar en la aplicación?</strong></h3>
      <div class="lista-container" style="text-align: left;">
  <h4>Actividades Recomendadas</h4>
  <ul class="lista" style="list-style-type: none; padding: 0; margin: 0;">
    <li class="lista-item" style="display: flex; align-items: center; margin-bottom: 20px;">
      <ion-icon name="woman-outline" color="secondary" style="font-size: 30px; margin-right: 20px;"></ion-icon>
      <span class="text" style="font-size: 16px; font-family: Arial, sans-serif; color: #555;">Actividades que fortalezcan tu salud física y mental</span>
    </li>
    <li class="lista-item" style="display: flex; align-items: center; margin-bottom: 20px;">
      <ion-icon name="shield-checkmark-outline" color="secondary" style="font-size: 30px; margin-right: 20px;"></ion-icon>
      <span class="text" style="font-size: 16px; font-family: Arial, sans-serif; color: #555;">Consejos para prevenir la violencia</span>
    </li>
    <li class="lista-item" style="display: flex; align-items: center; margin-bottom: 20px;">
      <ion-icon name="help-outline" color="secondary" style="font-size: 30px; margin-right: 20px;"></ion-icon>
      <span class="text" style="font-size: 16px; font-family: Arial, sans-serif; color: #555;">Información de autocuidado</span>
    </li>
    <li class="lista-item" style="display: flex; align-items: center; margin-bottom: 20px;">
      <ion-icon name="thumbs-up-outline" color="secondary" style="font-size: 30px; margin-right: 20px;"></ion-icon>
      <span class="text" style="font-size: 16px; font-family: Arial, sans-serif; color: #555;">Secciones didácticas</span>
    </li>
    <li class="lista-item" style="display: flex; align-items: center; margin-bottom: 20px;">
      <ion-icon name="newspaper-outline" color="secondary" style="font-size: 30px; margin-right: 20px;"></ion-icon>
      <span class="text" style="font-size: 16px; font-family: Arial, sans-serif; color: #555;">Formatos de ayuda</span>
    </li>
  </ul>
</div>

      
  <br>
  <img src="../../../assets/Bienvenida.png">
    <div class="ion-text-justify" style="margin-top: 20%;">
      <ion-label>Al registrarte, nos ayudas a ampliar y mejorar los servicios que brindamos, si decides ingresar sin un registro
        tendrás acceso limitado a algunas funciones de la aplicación.
      </ion-label>
      <ion-buttons slot="start" class="ion-padding">
        <button (click)="irARegistro()">
          Resgistrarme
        </button>
        <button (click)="aceptar()">
          Ir al contenido
        </button>
      </ion-buttons>

    </div>

    <!-- <ion-label>También te invitamos a configurar algunas alarmas que te pueden servir para mejorar tus hábitos de autocuidado, 
      como el descanso adecuado y la hidratación correcta
    </ion-label>
    <br>
    <div class="ion-text-center">
      <button (click)="abrirModal()">
        Configurar mis alarmas
      </button>
    </div> -->
    
</ion-content>



