<app-header titulo="Autocuidado colectivo"></app-header>

<ion-content class="ion-text-justify ion-padding">
    <h1>AUTODIAGNÓSTICO</h1>
    <h3>Reconociendo mi autocuidado</h3>
    <p>Este mini test te permitirá tomar
        conciencia de cómo es tu
        autocuidado y tu nivel de bienestar. En tan solo unos minutos, tendrás la respuesta. Lee
        bien las preguntas, sé honesta y
        descubre cuánto te cuidas a ti misma.</p>
    <img src="../../../assets/Defensora 09.png" alt="">
    <ion-button expand="block" fill="outline" shape="round" color="secondary" (click)="abrirTest()">
        Empezar test
    </ion-button>
</ion-content>