<app-header titulo="autocuidado"></app-header>

<ion-content>
  <ion-segment value="" scrollable="true" mode="md" (ionChange)="selectCategory($event)">
    <ion-segment-button value="Fisico">
      <ion-label>Físico</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Emocional">
      <ion-label>Emocional y mental</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Laboral">
      <ion-label>Laboral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Digital">
      <ion-label>Digital</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="seleccion === 'Fisico'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO FÍSICO</h1>
    <p class="ion-text-justify ion-padding">Mantengo un cuerpo saludable: Cuido
      mi salud física, sexual, reproductiva
      y una nutrición adecuada. Para descansar elimino el estrés, duermo
      libre de tensiones y realizo
      rituales de sanación.</p>
      <img src="../../../assets/Imagen2.png" style="max-width: 60%; max-height: 60%;" class="">
      <img src="../../../assets/Imagen1.png" alt="">

      <h2 class="fancy" style="--w: 50vw;--c: #8d078d;--b:4px;--g: 40px">Lo que se sabe</h2><br>
      <p>En esta clave resaltamos los siguientes puntos a tomar en cuenta en el cuidado de la salud física:</p>

      <div>
        <ion-row>
          <ion-col size="12">
            <swiper-container
              class="swiperCard"
              effect="coverflow"
              [centeredSlides]="true"
              [slidesPerView]="'auto'"
              [coverflowEffect]="{rotate: 50, stretch: 0, depth: 100, modifier: 1, slideShadows: true}">
              <swiper-slide>
                <ion-card class="card2">
                    <ion-card-tittle class="name"><em>La activación física</em></ion-card-tittle>
                    <ion-label class="ion-text-justify ion-padding">
                        Constituye parte esencial para lograr bienestar general.
                        La OMS define la actividad física como cualquier movimiento corporal producido por los músculos
                        esqueléticos, incluye cualquier actividad diaria como trabajar, jugar, viajar y las actividades recreativas.
                        </ion-label>
                        <ion-label class="p"><ion-icon slot="start" name="arrow-back" class="custom-icon"></ion-icon> Desliza para ver más</ion-label>
                      </ion-card>
            </swiper-slide>

            <swiper-slide>
              <ion-card class="card2">
                  <ion-card-tittle class="name"><em>La salud sexual y reproductiva</em></ion-card-tittle>
                  <ion-label class="ion-text-justify ion-padding">
                      Es un estado general de estado físico, mental y social en todos los aspectos relacionados con el sitema reproctivo (UNFPA). Requiere un esfoque positivo y respetuoso de la secualidad y las relaciones sexuales, así como la responsabilidad de tener experiencias sexuales placenteras y seguras, libres de coacción, discriminacion y violencia (OMS)
                      </ion-label>
              </ion-card>
          </swiper-slide>

            <swiper-slide>
            <ion-card class="card2">
                <ion-card-tittle class="name"><em>La nutrición saludable</em></ion-card-tittle>
                <ion-label class="ion-text-justify ion-padding"> 
                    Consiste en consumir los alimentos de manera consiente , sin prisa, en ambuente agradable, sin saltarse alguna comida principal, "alimentarnos es un acto politico y también es una forma de resitir frente al sistema. No es necesario que nos digan que tenemos que comer, sino aprender a consumir de forma responsable no sólo con el cuerpo, sino con todo lo que está a nuestro alrededor". (Luna Nueva,2020)
                    </ion-label>
            </ion-card>
          </swiper-slide>

            <swiper-slide>
          <ion-card class="card2">
              <ion-card-tittle class="name"><em>Un descanso y el sueño</em></ion-card-tittle>
              <ion-label class="ion-text-justify ion-padding">
                  Son escenciales para nuestra salud, se la falta de descanso y sueño es prolongada, origina un transtorno progresivo de la mente, un comportamiento anormal del sitema nervioso, dificultad para rganizar los pensamientos, irritabilidad y psicosis. El descanso y sueño restauran el equilibrio natural entre los centros neuronales (Saludemia).
                  </ion-label>
          </ion-card>
          </swiper-slide>

            <swiper-slide>
        <ion-card class="card2">
            <ion-card-tittle class="name"><em>Los rituales de sanación</em></ion-card-tittle>
            <ion-label class="ion-text-justify ion-padding">
                Que son parte de la herbolaria, son una tradición médica muy antigua, basada en el uso de plantasy hierbas, las mujeres indígenas han sido protagonistas de esta práctica, que se ha constituido como un método altamente efectivo y practicado, la <strong>OMS</strong>, reconoce su efectividad al incluirla en esquemas públicos de salud.
                </ion-label>
        </ion-card>
          </swiper-slide>
            </swiper-container> <!-- Se cerró swiper-container aquí -->
          </ion-col>
        </ion-row>
      </div>

      <div>
        <h2 class="fancy" style="--w: 50vw;--c: #8d078d;--b:4px;--g: 40px">Caricia para el alma</h2>
        <p class="morado2">Presiona la imagen y descubre el poema</p>
        <div class="ion-text-center ion-padding">
      <section id="card1" class="card">
        <img src="../../../assets/Imagen1.png" alt="">
        <div class="card__content">
          <p><strong>Cuida de ti misma</strong></p>
          <p ion-text-justify>
            <em>            
              Vuelve a ti misma, conecta contigo y cuida de ti misma.<br>
              Tu cuerpo te necesita, tus sentimientos te necesitan, tus percepciones te necesitan.<br>
              La niña herida que hay en ti te necesita.<br>
              Tu sufrimiento necesita que lo reconozcas.<br>
              Vuelve a ti y ocúpate de todo eso.<br>
              Practica el caminar consciente y la respiración consciente.<br>
              Hazlo todo con atención plena para poder estar realmente ahí, para ser capaz de amar.<br>
            </em>
          </p>
          
          <p class=" ion-text-justify">            
            Autora: <strong> Thich Nhat Hanh.</strong><br>
            <em>El arte de cuidar a tu niño interior.</em></p>
        </div>
      </section>
    </div>
      <br><br>
      <p><strong>Te invitamos a descargar y leer manual donde se menciona más informacion útil.</strong></p><br>
      <ion-button (click)="leermas()" style="--background: purple; --color: white;">
        Leer más
      </ion-button>
              
    </div>
  </div>


  <div *ngIf="seleccion === 'Emocional'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO EMOCIONAL Y MENTAL</h1>
    <p class="ion-text-justify ion-padding">Conecto con mis emociones: Libero
      mi voz y mi fuerza para sanarme,
      expreso asertivamente lo que pienso, siento y quiero. Me permito ser
      resiliente, a través de la risa, el
      gozo, el placer sexual y erótico. En armonía busco
      ayuda y me dejo ayudar.</p>
      <img src="../../../assets/Emocional Mental.png" alt="" ><br><br>
      <h2 class="fancy" style="--w: 50vw;--c: #8d078d;--b:4px;--g: 40px">Lo que se sabe</h2>
      <div>
        <ion-icon class="custom-icon2" name="megaphone-outline"></ion-icon>
        <p  class="ion-text-justify">
          Segun la Organización Mundial de la Salud, <strong>"La salud es un estado de bienestar en el cual el indiduo es consciente de sus propias cpacidades, puede afrontar las tensiones normales de la vida, puede trabajar de forma productiva y fructífera, y es capaz de hacer una contribucioón a su comunidad".</strong></p> <br><br>
          <ion-icon class="custom-icon2" name="megaphone-outline"></ion-icon>
          <p class="ion-text-justify">
          El Instituto Mexicano del Seguro Social, nos dice que, la salud mental es importante porque puede afectar la salud fisica, por ejemplo, los transtornos mentales aumentan el riesgo de accidentes cerebrovasculares,diabetes tipo 2 y enfermedades cardiacas.
        </p>
      </div><br>
      <div>    
        <p><strong><em>El cuidado de la salud mental puede ayudar a: </em></strong></p><br>
        <img src="../../../assets/Icono Estrés.png" alt="" style="max-width: 19%; max-height: 19%;"><br>
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Enfrentar el estrés de la vida</div>
        </div>
      </div><br>
      <div>
        <img src="../../../assets/Icono Físico.png" alt="" style="max-width: 19%; max-height: 19%;">
        <div class="notification">
          <div class="notititle">Estar fisicamente saludable</div>
        </div>
      </div><br>
      <div>
        <img src="../../../assets/Icono Relaciones Sanas.png" alt="" style="max-width: 19%; max-height: 19%;">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Tener relaciones sanas</div>
        </div>
            </div><br>
      <div>
        <img src="../../../assets/Icono comunidad.png" alt="" style="max-width: 19%; max-height: 19%;">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Contribuir en forma significativa ala comunidad</div>
        </div>      </div><br>
      <div>
        <img src="../../../assets/Icono Trabajo Productivo.png" alt="" style="max-width: 19%; max-height: 19%;">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Trabajar productivamente</div>
        </div>      </div><br>
      <div>
        <img src="../../../assets/Icono Completo Potencial.png" alt="" style="max-width: 19%; max-height: 19%;">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Alcanzar su completo potencial</div>
        </div>      </div><br>
        <h2 class="fancy" style="--w: 50vw;--c: #8d078d;--b:4px;--g: 40px">Caricia para el alma</h2>

  </div>

  <div *ngIf="seleccion === 'Laboral'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO LABORAL</h1>
    <p class="ion-text-justify ion-padding">Equilibrio mi activismo, mi
      vida personal y laboral: Participo
      en redes basadas en la filosofía
      feminista. Aplico el protocolo de
      seguridad individual y colectiva al
      realizar tareas de activismo público.
      Pongo límite a agendas y horarios
      laborales, respeto fines de semana,
      vacaciones y días festivos. </p>
      <img src="../../../assets/Colectivo Y Laboral.png" alt="">
  </div>

  <div *ngIf="seleccion === 'Digital'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO DIGITAL</h1>
    <p class="ion-text-justify ion-padding">Cuido mi seguridad digital:
      Hago uso estratégico de la
      tecnología, plataformas digitales,
      redes sociales, conozco mis derechos digitales y de qué manera la
      ley me protege. Promuevo la desconexión digi</p>
      <img src="../../../assets/Digital.png" alt="" style="max-width: 80%; max-height: 80%;" class="" ><br><br>
  </div>
</ion-content>
