<app-header titulo="autocuidado"></app-header>

<ion-content>
  <ion-segment value="pizza" scrollable="true" mode="md" (ionChange)="selectCategory($event)">
    <ion-segment-button value="Fisico">
      <ion-label>Físico</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Emocional">
      <ion-label>Emocional y mental</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Laboral">
      <ion-label>Laboral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Digital">
      <ion-label>Digital</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="seleccion === 'Fisico'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO FÍSICO</h1>
    <p class="ion-text-justify ion-padding">Mantengo un cuerpo saludable: Cuido
      mi salud física, sexual, reproductiva
      y una nutrición adecuada. Para descansar elimino el estrés, duermo
      libre de tensiones y realizo
      rituales de sanación.</p>

      <p class="piensa">“Encontré que bailar me ayuda
        a relajarme, me miro mientras
        bailo y trato de encontrar mi
        propia fuerza, mi sensualidad,
        mi desfachatez, en fin, mi
        libertad”. </p>
      <img src="../../../assets/Imagen2.png" style="max-width: 60%; max-height: 60%;" class="">
      <img src="../../../assets/Imagen1.png" alt="">

      <p>En esta clave resaltamos los siguientes puntos a tomar en cuenta en el cuidado de la salud física:</p>

      <div>
        <ion-row>
          <ion-col size="12">
            <swiper-container
              class="swiperCard"
              effect="coverflow"
              [centeredSlides]="true"
              [slidesPerView]="'auto'"
              [coverflowEffect]="{rotate: 50, stretch: 0, depth: 100, modifier: 1, slideShadows: true}">
              <swiper-slide>
                <ion-card class="card2">
                  <div class="icon-container">
                    <ion-icon name="accessibility"></ion-icon>
                </div>
                    <ion-card-tittle class="name">La activación física</ion-card-tittle>
                    <ion-label class="message">
                        Constituye parte esencial para lograr bienestar general.
                        La OMS define la actividad física como cualquier movimiento corporal producido por los músculos
                        esqueléticos, incluye cualquier actividad diaria como trabajar, jugar, viajar y las actividades recreativas.
                        </ion-label>
                        <p>1/5</p>
                </ion-card>
            </swiper-slide>

            <swiper-slide>
              <ion-card class="card2">
                <div class="icon-container">
                  <ion-icon name="heart-circle"></ion-icon>
              </div>
                  <ion-card-tittle class="name">La salud sexual y reproductiva</ion-card-tittle>
                  <ion-label class="message">
                      Es un estado general de estado físico, mental y social en todos los aspectos relacionados con el sitema reproctivo (UNFPA). Requiere un esfoque positivo y respetuoso de la secualidad y las relaciones sexuales, así como la responsabilidad de tener experiencias sexuales placenteras y seguras, libres de coacción, discriminacion y violencia (OMS)
                      </ion-label>
                      <p>2/5</p>
              </ion-card>
          </swiper-slide>

            <swiper-slide>
            <ion-card class="card2">
              <div class="icon-container">
                <ion-icon name="restaurant"></ion-icon>
            </div>
                <ion-card-tittle class="name">La nutrición saludable</ion-card-tittle>
                <ion-label class="message"> 
                    consiste en consumir los alimentos de manera consiente , sin prisa, en ambuente agradable, sin saltarse alguna comida principal 
                    </ion-label>
                    <p>3/5</p>
            </ion-card>
          </swiper-slide>

            <swiper-slide>
          <ion-card class="card2">
            <div class="icon-container">
              <ion-icon name="bed"></ion-icon>
          </div>
              <ion-card-tittle class="name">Un descanso y el sueño</ion-card-tittle>
              <ion-label class="message">
                  Constituye parte esencial para lograr bienestar general.
                  La OMS define la actividad física como cualquier movimiento corporal producido por los músculos
                  esqueléticos, incluye cualquier actividad diaria como trabajar, jugar, viajar y las actividades recreativas.
                  </ion-label>
                  <p>4/5</p>
          </ion-card>
          </swiper-slide>

            <swiper-slide>
        <ion-card class="card2">
          <div class="icon-container">
            <ion-icon name="sunny"></ion-icon>
        </div>
            <ion-card-tittle class="name">Los rituales de sanación</ion-card-tittle>
            <ion-label class="message">
                Constituye parte esencial para lograr bienestar general.
                La OMS define la actividad física como cualquier movimiento corporal producido por los músculos
                esqueléticos, incluye cualquier actividad diaria como trabajar, jugar, viajar y las actividades recreativas.
                </ion-label>
                <p>5/5</p>
        </ion-card>
          </swiper-slide>

            </swiper-container> <!-- Se cerró swiper-container aquí -->
          </ion-col>
        </ion-row>
      </div>
      
  </div>


  


  <div *ngIf="seleccion === 'Emocional'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO EMOCIONAL Y MENTAL</h1>
    <p class="ion-text-justify ion-padding">Conecto con mis emociones: Libero
      mi voz y mi fuerza para sanarme,
      expreso asertivamente lo que pienso, siento y quiero. Me permito ser
      resiliente, a través de la risa, el
      gozo, el placer sexual y erótico. En armonía busco
      ayuda y me dejo ayudar.</p>
  </div>

  <div *ngIf="seleccion === 'Laboral'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO LABORAL</h1>
    <p class="ion-text-justify ion-padding">Equilibrio mi activismo, mi
      vida personal y laboral: Participo
      en redes basadas en la filosofía
      feminista. Aplico el protocolo de
      seguridad individual y colectiva al
      realizar tareas de activismo público.
      Pongo límite a agendas y horarios
      laborales, respeto fines de semana,
      vacaciones y días festivos. </p>
  </div>

  <div *ngIf="seleccion === 'Digital'" class="ion-text-center ion-padding">
    <h1>AUTOCUIDADO DIGITAL</h1>
    <p class="ion-text-justify ion-padding">Cuido mi seguridad digital:
      Hago uso estratégico de la
      tecnología, plataformas digitales,
      redes sociales, conozco mis derechos digitales y de qué manera la
      ley me protege. Promuevo la desconexión digi</p>
  </div>
</ion-content>
