.cards{
    border-radius: 20px !important;
    box-shadow: -4px -4px 20px rgba(0,0,0,.2);
}

.titulo{
    font-size: 14px;
}

.img{
    max-width: 200px !important;
    max-height: 200px !important;
}

p{
    font-size: 18px;
}