<app-header titulo="Créditos"></app-header>
<ion-content >
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <img src="../../../assets/GESMUJERCRE.png" />
                <h3 class="title">¿Quienes somos?</h3>
                <p class="ion-text-justify ion-padding">
                    Somos el Grupo de Estudios Sobre la Mujer “Rosario Castellanos” ac. (GESMujer), una organización de la sociedad civil, feminista con más de 45 años llevando acciones en la entidad oaxaqueña, iniciamos en 1977 y nos constituimos legalmente el 22 de febrero de 1990 como una asociación civil autónoma.
                </p>
                <h3 class="title">Somos donadoras autorizadas</h3>
                <p class="ion-text-justify ion-padding">
                    Somos autónomas y contamos con personalidad jurídica propia y autorizada por la Secretaría de Hacienda para recibir donativos libres de impuestos.
                    Nuestras acciones y atenciones se sostiene de donativos y ejecución de proyectos sociales, por una vida de las mujeres y las niñas  logren su empoderamiento y su agencia.                </p>
                    <ion-list>
                        <ion-item >
                            <ion-icon slot="start" name="location-outline" color="tertiary"></ion-icon>Tercera privada de Guadalupe Victoria número 107, colonia Libertad, código postal 68090, Oaxaca, México.
                        </ion-item>
                        <ion-item >
                            <ion-icon slot="start" name="mail-outline" color="tertiary"></ion-icon>contacto&#64;gesmujer.org
                        </ion-item>           
                        <ion-item >
                            <ion-icon slot="start" name="call-outline" color="tertiary"></ion-icon>(+52) 951 516 6810
                        </ion-item>
                        <ion-item >
                            <ion-icon slot="start" name="logo-whatsapp" color="tertiary"></ion-icon>(+52) (951) 272 26 65
                        </ion-item> 
                    </ion-list>
                    <ion-list-header>
                        <ion-label>Contactanos</ion-label>
                    </ion-list-header>
    <div class="ion-padding ion-text-center">

        <a href="https://x.com/GES_Mujer" target="_blank">
            <ion-button color="primary" fill="clear">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
        </a>

        <a href="https://www.facebook.com/gesmujer.rosario.castellanos.ac?locale=es_LA" target="_blank">
            <ion-button class="royal-blue-button" fill="clear">
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
        </a>

        <a href="https://www.instagram.com/ges_mujer/?hl=es" target="_blank">
            <ion-button color="danger" fill="clear">
            <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
            </ion-button>
        </a>

        <a href="https://www.youtube.com/c/GESMujerRosarioCastellanos?app=desktop" target="_blank">
            <ion-button color="danger" fill="clear">
            <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
            </ion-button>
        </a>

        <a href="https://www.tiktok.com/@gesmujer" target="_blank">
            <ion-button color="dark" fill="clear">
            <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
            </ion-button>
        </a>

        <a href="https://soundcloud.com/gesmujerac" target="_blank">
            <ion-button color="dark" fill="clear">
            <ion-icon slot="icon-only" name="logo-soundcloud"></ion-icon>
            </ion-button>
        </a>

</div>
                </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
