
  .title {
    font-weight: bold;
    text-align: center;
    margin-top: 1em; /* Espacio arriba del título para separarlo de la imagen */
    margin-bottom: 1em; /* Espacio abajo del título para separarlo del párrafo */
}

.ion-text-center {
    text-align: center;
}
.title2 {
    font-weight: bold;
    text-align: center;
    margin-top: 1em; /* Espacio arriba del título para separarlo de la imagen */
    margin-bottom: 1em; /* Espacio abajo del título para separarlo del párrafo */
}

.ion-text-center2 {
    text-align: center;
}

.royal-blue-button {
    --color: #00035f; /* Color del texto/icono */
}

.sin-subrayado {
    text-decoration: none; /* quita el subrayado */
    color: inherit; /* hereda el color del texto del padre */
}