<app-header titulo="Kit de seguridad digital"></app-header>

<ion-content>
<h1 class="ion-text-center">Violencia digital</h1>
<ion-card class="red">
    <ion-card>
        <ion-card-header>
    <ion-card-title class="ion-text-center">¿Qué es?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <div class="card-content">
            <img src="../../../assets/le.jpg" alt="Baile de Forma Libre" class="vocal-image"/>
            <p class="ion-text-justify ion-padding">
            La violencia digital contra defensoras de derechos humanos incluye acoso, difamación, discriminación, publicación no consensuada de información personal e imágenes íntimas, hackeo, suplantación de identidad y difusión de rumores. Estos actos buscan desacreditar y socavar a las mujeres defensoras, activistas y líderes feministas en el ámbito digital.
            </p>
        </div>
        </ion-card-content>
    </ion-card>
</ion-card>
</ion-content>