<app-header titulo="Kit de seguridad digital"></app-header>

<ion-content>
    <h2 class="fancy" style="--w: 50vw;--c: #a86309;--b:4px;--g: 40px">Violencia dígital</h2><br>
    <div>
    <ion-row>
        <ion-col size="12">
            <swiper-container
            class="swiperCard"
            effect="coverflow"
            [centeredSlides]="true"
            [slidesPerView]="'auto'"
            [coverflowEffect]="{rotate: 50, stretch: 0, depth: 100, modifier: 1, slideShadows: true}">

            <swiper-slide>
                <ion-card class="red">
                    <ion-card>
                        <ion-card-header>
                    <ion-card-title class="ion-text-center smaller-title"><strong>¿Qué es la violencia digital?</strong></ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                        <div class="card-content">
                            <img src="../../../assets/dig.png" alt="Baile de Forma Libre" class="vocal-image"/>
                            <p class="ion-text-justify ion-padding">
                                La violencia digital abarca actos como acoso en línea, difamación, divulgar información personal sin consentimiento, publicar imágenes íntimas no autorizadas y hackear cuentas, dirigidos a dañar, desacreditar o intimidar en el entorno digital.                            </p>
                        </div><br>
                        </ion-card-content>
                    </ion-card>
                </ion-card>
            </swiper-slide>

        <swiper-slide>
            <ion-card class="red">
                <ion-card>
                    <ion-card-header>
                <ion-card-title class="ion-text-center smaller-title"><strong>¿Cómo afecta a las defensoras?</strong></ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                    <div class="card-content">
                        <img src="../../../assets/dig.png" alt="Baile de Forma Libre" class="vocal-image"/>
                        <p class="ion-text-justify ion-padding">
                            La violencia digital busca silenciar y desalentar a defensoras de derechos humanos, impactando significativamente su vida personal y profesional, generando estrés, ansiedad y miedo, y llevándolas a abandonar su activismo.
                        </p>
                    </div>
                    </ion-card-content>
                </ion-card>
            </ion-card>
        </swiper-slide>

        <swiper-slide>
            <ion-card class="red">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center smaller-title"><strong>¿Qué puedo hacer para prevenir?</strong></ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="card-content">
                            <img src="../../../assets/dig.png" alt="Baile de Forma Libre" class="vocal-image"/>
                            <p class="ion-justify-content-center" style="text-align: justify;">
                                <strong>• Conciencia sobre la violencia digital,</strong> protege tu información personal.
                            </p>
                            <p class="ion-justify-content-center" style="text-align: justify;">
                                <strong>• Limita la cantidad de información personal que compartes.</strong>
                            </p>
                            <p class="ion-justify-content-center" style="text-align: justify;">
                                <strong>• Bloquea y denuncia:</strong> Aprende cómo bloquear y denunciar a usuarios que te estén acosando o difundiendo contenido ofensivo.
                            </p>
                            <p class="ion-justify-content-center" style="text-align: justify;">
                                <strong>• Mantén la evidencia:</strong> Si experimentas violencia digital, guarda capturas de pantalla, correos electrónicos, mensajes o cualquier otra prueba que puedas recopilar.
                            </p> 
                            <p class="ion-justify-content-center" style="text-align: justify;">
                                <strong>• Busca apoyo:</strong> No enfrentes la violencia digital sola. Busca el apoyo de personas de confianza, como amistades, familiares o colegas.
                            </p> 
                            <p class="ion-justify-content" style="text-align: justify;">
                                <strong>• Denuncia ante las autoridades.</strong>
                            </p> 
                        </div>
                    </ion-card-content>
                </ion-card>
                
                
            </ion-card>
        </swiper-slide>
        </swiper-container>
        </ion-col>
    </ion-row>
    <ion-button  expand="block" fill="clear" shape="round" style="color:rgb(205, 155, 97);">
        Deliza para ver más
        <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-button>
    </div>


    <h2 class="fancy" style="--w: 50vw;--c: #680773;--b:4px;--g: 40px">Ley Olimpia</h2><br>

    <div>
        <ion-row>
            <ion-col size="12">
                <swiper-container
                class="swiperCard"
                effect="coverflow"
                [centeredSlides]="true"
                [slidesPerView]="'auto'"
                [coverflowEffect]="{rotate: 50, stretch: 0, depth: 100, modifier: 1, slideShadows: true}">
    
                <swiper-slide>
                    <ion-card class="violeta">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title class="ion-text-center smaller-title"><strong>¿Qué es la ley Olimpia?</strong></ion-card-title><br>
                            </ion-card-header>
                            <ion-card-content>
                                <div class="card-content">
                                    <img src="../../../assets/olimpia.png" alt="Baile de Forma Libre" class="vocal-image"/>
                                    <p class="p2 ion-text-justify ion-padding">
                                        La “Ley Olimpia” no se refiere a una ley como tal, sino a un conjunto de reformas legislativas encaminadas a reconocer la violencia digital y sancionar los delitos que violen la intimidad sexual de las personas a través de medios digitales, también conocida como ciberviolencia.
                                    </p>
                                </div><br>
                            </ion-card-content>
                        </ion-card>
                    </ion-card>
                </swiper-slide>


                <swiper-slide>
                    <ion-card class="violeta">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title class="ion-text-center smaller-title"><strong>Conductas que atentan contra la intimidad sexual</strong></ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <div class="card-content">
                                    <img src="../../../assets/olimpia.png" alt="Baile de Forma Libre" class="vocal-image"/><br>
                                    <p class="ion-justify-content-center" style="text-align: justify;">
                                        • Video grabar, audio grabar, fotografiar o elaborar videos reales o simulados 
                                        de contenido sexual íntimo, de una persona sin su consentimiento o 
                                        mediante engaño.
                                    </p>
                                    <p class="ion-justify-content-center" style="text-align: justify;">
                                        • Exponer, distribuir, difundir, exhibir, reproducir, transmitir, comercializar,
                                        ofertar, intercambiar y compartir imágenes, audios o videos de contenido 
                                        sexual íntimo de una persona, a sabiendas de que no existe consentimiento,
                                        mediante materiales impresos, correo electrónico, mensajes telefónicos, 
                                        redes sociales o cualquier medio tecnológico.
                                    </p>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-card>
                </swiper-slide>
            </swiper-container>
            </ion-col>
        </ion-row>
        <ion-button  expand="block" fill="clear" shape="round" style="color:rgb(129, 11, 133);">
            Deliza para ver más
            <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
        </div>
<br><br>
        <h2 class="fancy" style="--w: 50vw;--c: #803f80;--b:4px;--g: 40px">¿Qué hacer?</h2><br>

        <div>
            <div class="card">
                <div class="header">
                <div class="content">
                    <span class="title">¿Cómo hacer una denuncia por violencia digital?</span><br><br>
                    <p class="message">
                        1.- Realizar un registro de los incidentes o de los ataques en un documento.<br>
                        2.- Crear capturas de pantalla, guardar los enlaces y/o imágenes, recopilar información sobre las personas/agresor(es).<br>
                        3.- Crear una bitácora, es decir una documentación (hojas de cálculo o documentos de texto) con información relevante como: fecha, hora, tipo de ataque/incidente, plataforma, URL, captura de pantalla y contenido. Puede ser narrado/escrito como un testimonio de los sucesos.<br>
                        4.- Registrar incluso con notas sobre el nivel del riesgo que se percibe y acciones de seguimiento.<br>
                        5.- Se recomienda acompañarse en todo momento con personas aliadas de la red de apoyo, abogadas con perspectiva de género.<br>
                        6.- Una vez todo el registro poder acudir a la fiscalia y hacer una denunicia y hacerle seguimiento. <br>
                    </p>
                </div>
                <p>A continuacion te compartimos el contacto de la <strong>Policía Cibernética de la Comisión Nacional de Seguridad:</strong></p>
                <div class="actions">
                    <a href="tel:088">
                        <button class="desactivate" type="button">Llamada</button>
                    </a>
                    <a href="mailto:ceac@cns.gob.mx">
                        <button class="cancel" type="button">Correo</button>
                    </a>
                </div>
                <p>Y la <strong>Policía Cibernética en la Ciudad de México:</strong></p>
                <div class="actions">
                    <a href="mailto:policia.cibernetica@ssp.df.gob.mx">
                        <button class="cancel" type="button">Correo</button>
                    </a>
                    <a href="https://x.com/UCS_CDMX" target="_blank">
                        <button class="desactivate" type="button">Red social</button>
                    </a>
                </div>
                </div>
                </div>
        </div> <br>
        <h2 class="fancy" style="--w: 50vw;--c: #9fc0a4;--b:4px;--g: 40px">Tipología</h2><br>
        <div class="centered-content">
            <ion-icon class="custom-icon2" name="megaphone-outline"></ion-icon>
            <p class="ion-text-justify">
                <strong>Esta es una de las claves de autocuidado que al principio nos parece 
                difícil porque hemos aprendido a entregar la vida a nuestro trabajo. </strong>
                Es importante reconocer qué, aunque sepamos de la importancia de nuestra labor y la realicemos con un gran compromiso, si no descansamos lo suficiente, nos agotamos en extremo, nos enfermamos y al final nos vemos obligadas a parar.
            </p>
            <br>
            <ion-icon class="custom-icon2" name="megaphone-outline"></ion-icon>
            <p class="ion-text-justify">
                <strong>Para que el autocuidado sea una realidad en las organizaciones, es fundamental 
                establecer Políticas de Cuidado Colectivo, lo que implica poner en el centro la vida 
                de las DDHH y mantener un equilibrio saludable entre la vida personal y la laboral.</strong>
                para ello podemos implementar actividades como las siguientes:
            </p>
        </div>
        
        

</ion-content>